nav {
    margin-left: 195px; 
    margin-right: 195px; 
    background-color: rgb(255, 255, 255);
}

.logo.nav {
    width: 195px; 
    height: auto; 
    vertical-align: middle;
    white-space: 22px;
}

.search {
    width: 500px; 
    height: 50px; 
    background-color: #e5e5e5; 
    border: #dedede; 
    border-radius: 6px; 
    vertical-align: -webkit-baseline-middle;
    font-size: 17px;
    margin-left: 32px;
    line-height: 32px;
}

.search.img {
    width: 28px; 
    height: auto;
    margin-left: 222px;
    vertical-align: middle;
}

.iconav {
    width: 25px; 
    height: 25px; 
    vertical-align: -webkit-baseline-middle;
    margin-left: 30px;
}

.alternative {
    width: 35px;
    height: 35px;
    vertical-align: -webkit-baseline-middle; 
    margin-left: 25px;
}

.linenav {
    width: 930px;
    color: rgb(240, 240, 240);
}

.section {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#recipes {
    margin-left: 214px;
}

#quick {
    margin-left: 74px;
}

#kitchen {
    margin-left: 74px;
}

#table {
    margin-left: 74px;
}

#holiday {
    margin-left: 74px;
}

#aboutus {
    margin-left: 74px;
}











.footer {
    margin-left: 70px; 
    margin-right: 70px; 
    margin-bottom: 50px; 
    background-color: rgb(255, 255, 255); 
    vertical-align: -webkit-baseline-middle;
}

.logofooter {
    width: 295px;
    height: auto;
    vertical-align: -webkit-baseline-middle;
}

.about,
.adv,
.rec {
    vertical-align: -webkit-baseline-middle;
    color: rgb(80, 80, 80);
    margin-left: 185px;
}

.rec {
    color: rgb(250, 5, 5);
    font-size: 20px;
}

.news {
    height: 50px;
    width: 295px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 13, 0);
}

.iconfoot {
    width: 25px;
    height: auto;
    vertical-align: -webkit-baseline-middle;
    margin-left: 1px;
}

.iconfoot.s {
    margin-left: 25px;
}

.iconfoot.s.in {
    width: 35px;
    height: auto;
    margin-left: 18px;
}

.copyright {
    margin-left: 30px;
}