nav {
    margin-left: 195px; 
    margin-right: 195px; 
    background-color: rgb(255, 255, 255);
}

.logo.nav {
    width: 195px; 
    height: auto; 
    vertical-align: middle;
    white-space: 22px;
}

.search {
    width: 500px; 
    height: 50px; 
    background-color: #e5e5e5; 
    border: #dedede; 
    border-radius: 6px; 
    vertical-align: -webkit-baseline-middle;
    font-size: 17px;
    margin-left: 32px;
    line-height: 32px;
}

.search.img {
    width: 28px; 
    height: auto;
    margin-left: 222px;
    vertical-align: middle;
}

.iconav {
    width: 25px; 
    height: 25px; 
    vertical-align: -webkit-baseline-middle;
    margin-left: 30px;
}

.alternative {
    width: 35px;
    height: 35px;
    vertical-align: -webkit-baseline-middle; 
    margin-left: 25px;
}

.linenav {
    width: 930px;
    color: rgb(240, 240, 240);
}

.section {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#recipes {
    margin-left: 214px;
}

#quick {
    margin-left: 74px;
}

#kitchen {
    margin-left: 74px;
}

#table {
    margin-left: 74px;
}

#holiday {
    margin-left: 74px;
}

#aboutus {
    margin-left: 74px;
}